.thumbs {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  width: 255px;

  li {
    list-style: none;
    position: relative;
    height: 65px;
    width: 69px;

    img {
      position: relative;
      z-index: 1;
    }

    &::after {
      background-color: rgba(0, 0, 0, 0.25);
      content: "";
      display: block;
      height: 65px;
      left: 0;
      position: absolute;
      top: 0;
      width: 69px;
      z-index: 2;
    }

    &.active::after {
      display: none;
    }
  }
}
